    <!-- Modal -->
    <div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="starterModalLabel-{{id}}"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="exampleModalLabel">{{modal-title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>