<div class="form-group">
    <label for="{{id}}" class="">{{text}}: </label>
    {{#if li_attr.lang}}
        {{#each data.user_value}}
        <div class="expandableContent {{../id}} {{#if default}}default{{/if}}">
            <div class="input-group mb-3">
                <div class="input-group-prepend ">
                    <span class="input-group-text">{{id}}</span>
                </div>
                <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{../id}}" name="{{id}}" placeholder="{{data.placeholder}}" value="{{text}}">
            </div>
        </div>
        {{/each}}
        <button type="button" class="btn btn-block btn-default btn-xs btn-expand" data-nodeid="{{id}}">+</button>
    {{else}}
        {{#if data.placeholder}}
            <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{id}}" name="{{id}}" placeholder="{{data.placeholder}}" value="{{data.user_value}}">
        {{else}}
            {{#if data.option}}
                <select class="custom-select form-node" data-nodeid="{{id}}" name="{{id}}">
                    {{#each data.options}}
                    <option value="{{this}}" {{#when this "eq" ../data.user_value}}selected{{/when}} >{{this}}</option>
                    {{/each}}
                </select>
            {{else}}
                {{#if data.check}}
                    <div class="row">
                    {{#each data.options}}
                            <div class="col col-6 col-md-4">
                                <div class="custom-control custom-switch custom-switch-off-default custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input form-node" data-index="{{@index}}" id="check{{@index}}" name="check{{@index}}" data-nodeid="{{../id}}" {{#if checked}}checked{{/if}} >
                                    <label class="custom-control-label" for="check{{@index}}">{{this.text}}</label>
                                </div>
                            </div>
                    {{/each}}
                    </div>
                {{else}}
                    <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{id}}" name="{{id}}"  placeholder="Node children value" value="{{text}}" {{#if readonly}}readonly{{/if}} >
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
</div>