<div class="form-group">
    <label for="{{id}}" class="">{{text}}: </label>
    {{#if li_attr.lang}}
        {{#each data.user_value}}
        <div class="expandableContent {{../id}} {{#if default}}default{{/if}}">
            <div class="input-group mb-3">
                <div class="input-group-prepend ">
                    <span class="input-group-text">{{id}}</span>
                </div>
                <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{../id}}" name="{{id}}" placeholder="{{data.placeholder}}" value="{{text}}">
            </div>
        </div>
        {{/each}}
        <button type="button" class="btn btn-block btn-default btn-xs btn-expand" data-nodeid="{{id}}">+</button>
    {{else}}
        {{#if data.placeholder}}
            <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{id}}" name="{{id}}" placeholder="{{data.placeholder}}" value="{{data.user_value}}">
        {{else}}
        {{#if data.option}}
            <select class="custom-select form-node" data-nodeid="{{id}}" name="{{id}}">
                {{#each data.options}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        {{else}}
            <input type="text" class="form-control form-node" data-index="{{@index}}" data-nodeid="{{id}}" name="{{id}}"  placeholder="Node children value" value="{{text}}">
        {{/if}}
        {{/if}}
    {{/if}}
</div>