<div class="card card-outline card-yellow">
    <div class="card-header">
        <h3 class="card-title">{{text}}</h3>
        <div class="card-tools">
            <button type = "button" class="btn btn-warning btn-xs add-new-properties" data-nodeid="{{id}}"> Add new</button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
        {{#if data.description}}
        <br>
            <p class="
                {{#if data.description.class}}
                    {{data.description.class}}
                {{else}}
                    text-primary
                {{/if}}">
                {{data.description.text}}
                <button type="button" class="btn btn-tool edit-text" data-nodeid="{{id}}">
                    <i class="nav-icon fas fa-edit"></i>
                </button>
            </p>
        {{/if}}
    </div>
    <div class="card-body">
    {{#each data.properties}}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">{{id}}</div>
                </div>
                <input  type="text" class="form-control form-node {{#if required}}validate-control{{/if}}" data-index="{{@index}}" 
                        data-nodeid="{{../id}}" name="{{id}}" placeholder="{{placeholder}}" 
                        value="{{text}}" title="{{usershelper}}" {{#if required}}required{{/if}}>
                        <button type="button" class="btn btn-tool remove-property" data-index="{{@index}}" data-nodeid="{{../id}}">
                            <i class="nav-icon fa fa-times"></i>
                        </button>
            </div>
            {{/each}}
    </div>
</div>