<h3 class="card-title float-right">
    <span class="badge badge-info" title="Selected node type">{{type}}</span>
    <span class="badge badge-danger" title="Selected node Name">{{text}}</span>
    <span class="badge badge-warning" title="Selected node ID">{{id}}</span>
</h3>
<br>
<form class="{{id}}" role="form">
    {{#if children}}
        {{#each children}}
            {{#getchildren id}}{{/getchildren}}
        {{/each}}
    {{else}}
        {{#getchildren id}}{{/getchildren}}
    {{/if}}
    <div class="form-group">
        <label for="{{id}}" class="">Set {{text}} {{type}} icon:</label>
        <input type="text" class="form-control form-node node-setting" data-index="{{@index}}" data-nodeid="{{id}}" name="icon"  placeholder="set new icon" value="{{icon}}">
    </div>
</form>